# Python
__pycache__/
*.pyc
*.tmp*
venv/
.env/

# IDE / Sistema Operativo
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store

# Agentes
agents/

# Script de optimización de imágenes
optimizar_imagenes.py
