body {
    background-color: #191C32;
}

.tamaño-estilo-fuente {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio {
    font-size: 26px;
}

/* Barra de navegacion */
.navbar {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Agrega sombra con valores de sombra personalizables */
}

.nav-item a:hover {
    background-color: aqua;
    color: white;
    transition: all 1s ease;
}

a.dropdown-item.active.verde {
    background-color: aqua;
}

a.dropdown-item.active.rojo {
    background-color: aqua;
}

a.dropdown-item.active.aqua {
    background-color: aqua;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: false;
}

.text-portfolio {
    font-family: 'Arvo', serif;
}


/* Seccion Certificaciones */
.area-cards {
    justify-content: space-between;
    display: flexbox;
}

.row-cols-auto {
    display: flexbox;
    justify-content: center;
}

/* Certificaciones Ingles */
.btn-rojo-fluor {
    background-color: #FD8584;
    color: white;
}

.btn-rojo-fluor:hover {
    background-color: rgba(253, 133, 132, 0.5);
    color: white;
}

.card-certif-ingles {
    border: 2px solid #FD8584;
}

/* Certificaciones Programacion */
.btn-verde-fluor {
    background-color: #10B981;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-verde-fluor:hover {
    background-color: #059669;
    color: white;
}

.card-certif-prog {
    border: 2px solid #10B981;
}

/* Certificaciones Arquitectura */
.btn-aqua {
    background-color: #06B6D4;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-aqua:hover {
    background-color: #0891B2;
    color: white;
}

.card-certif-arq {
    border: 2px solid #06B6D4;
}




/* Seccion Contacto */
.area-contacto {
    justify-content: space-between;
    display: flexbox;

    /* width: 100vw; */

    height: 100vh;
}

.row-cols-auto {
    margin-top: 90px;
    justify-content: center;
}

.contacto {
    margin: 70px;
}

.contacto img:hover {
    transform: translateY(-20px);
    transition: transform 0.8s ease-in-out;

}

.epigrafe-contacto {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

hr.hr-sup-contacto {
    color: aqua;
    opacity: 1;
    margin-top: 200px;
}

hr.hr-inf-contacto {
    color: aqua;
    opacity: 1;
    margin-top: 100px;

}

/* Seccion Cvs */
/* CV Arq */
.hr-cv-sup-arq {
    opacity: 1;
    color: #06B6D4;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 80px;
}

.hr-cv-inf-arq {
    opacity: 1;
    color: #06B6D4;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;

}

/* CV Prog */
.hr-cv-sup-prog {
    opacity: 1;
    color: #10B981;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 80px;
}

.hr-cv-inf-prog {
    opacity: 1;
    color: #10B981;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
}

/* CV Ingles */
.hr-cv-sup-ingles {
    opacity: 1;
    color: #FD8584;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 80px;
}

.hr-cv-inf-ingles {
    opacity: 1;
    color: #FD8584;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
}


/* Seccion Diplomas 
/*Arquitecto */
.texto-dip-arq {
    color: #06B6D4;
    font-family: 'Sevillana', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.hr-sup-dip-arq {
    color: #06B6D4;
    opacity: 1;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 25px;
}

.hr-medio-dip-arq {
    color: #06B6D4;
    opacity: 1;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.hr-inf-dip-arq {
    color: #06B6D4;
    opacity: 1;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 25px;
    margin-bottom: 30px;
}

/*Programacion */
.texto-dip-prog {
    color: #10B981;
    font-family: 'Sevillana', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.hr-sup-dip-prog {
    color: #10B981;
    opacity: 1;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 25px;
}

.hr-medio-dip-prog {
    color: #10B981;
    opacity: 1;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.hr-inf-dip-prog {
    color: #10B981;
    opacity: 1;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 25px;
    margin-bottom: 30px;
}

/* Exp. Laboral - Arquitectura */

.text-exp-lab-arq {
    color: #06B6D4;
    margin-top: 10px;
}

.hr-exp-lab-arq {
    color: #06B6D4;
    margin-bottom: 25px;
    opacity: 1;
}


/* Proyectos Arquitectura */
.hr-proyecto {
    color: #06B6D4;
    opacity: 1;
}

.p-proyecto {
    color: white;
}

.titulos-proyecto {
    color: #06B6D4;
}

/*Para que floten las cartas (proyectos y certificaciones)*/
.card:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-10px);
}



/*Home*/
/*Presentacion*/
/* Estilos personalizados aquí */
.presentacion {
    background-color: #2B3035;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    height: 100vh;

}

.presentacion h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3em;
    color: white;
}

.presentacion p {
    margin-top: 20px;
    color: white;
}

.presentacion span {
    color: aqua;
}

/* Clases de animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeIn {
    animation-name: fadeIn;
}

#typing-container {
    position: relative;
    width: 100%;
    /* Asegura que se adapte a la pantalla */
    overflow: hidden;
}

#typing-paragraph {
    white-space: pre-wrap;
    /* Respeta los saltos de línea */
    word-wrap: break-word;
    /* Ajusta palabras largas */
    font-size: 1rem;
    /* Tamaño de fuente relativo */
    line-height: 1.5;
    /* Espaciado entre líneas ajustable */
}

.cursor {
    position: absolute;
    overflow: hidden;
    white-space: initial;
    border-right: 2px solid #00FFFF;
    /* Simula el cursor de escritura */
    margin-left: 0px;
    /* Espacio entre el texto y el cursor */
    margin-top: 20px;
    animation: blink 0.8s infinite;
    /* Animación de parpadeo del cursor */
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.newline {
    display: block;
}

.col-presentacion {
    margin-top: 40px;
}

.div-download-cv {
    margin-bottom: 50px;
}

.download-cv {
    color: black;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download-cv:hover {
    background-color: azure;
    box-shadow: none;
    transition: all 0.7s ease;
}

.img-facu {
    border: 4px solid aqua;
    width: 34 rem;
    height: 34 rem;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}



/*Sobre mi...*/
.sobre-mi {
    background-color: black;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;

}

.sobre-mi img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.contenido-sobre-mi {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px;
}

.sobre-mi h1 {
    display: grid;
    align-items: start;
    justify-content: first baseline;
    font-size: 2em;
    color: white;

}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}

.sobre-mi p {
    margin-bottom: 1em;
    color: white;
}

.read-more {
    color: black;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.read-more:hover {
    background-color: azure;
    box-shadow: none;
    transition: all 0.7s ease;
}



/*Seccion Mantente en contacto */
.contact-section {
    margin-left: 10px;
    display: flex;
    background-color: #191c32;
    color: #fff;
    justify-content: center;
    align-items: center;


}

.contact-section img {
    width: 34 rem;
    height: 34 rem;
    bottom: 30px;
    margin-right: 5em;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
    margin-left: 40px;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;

    justify-content: center;
    align-items: center;
    display: flex;

}

.btn-submit {
    color: black;
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.btn-submit:hover {
    transition: all 0.7s ease;
    background-color: azure;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.contact-form {
    justify-content: center;
    align-items: center;
    display: grid;

}



/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 2em;
    background-color: aqua;
    margin: 0;
    padding: 0;

}

.footer-content h2 {
    font-size: 2.5em;

}

.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;

}

.sotial-networks i {
    font-size: 1.5em;
    color: black;
}